profiles {
    test_txt {
        params.input   = "${projectDir}/data/input_txt.csv"
    }
    test_tif {
        params.input   = "${projectDir}/data/input_tif.csv"
    }
    test_all {
        params.input   = "${projectDir}/data/input_all.csv"
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
